// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body, h1, h2, h3, h4, p, div {
  margin: 0px 0px;
  padding: 0px 0px;
}

.pane-header  {
  background: #666;
  border: 1px solid #FFF;
  color: #FFF;
  font-size: 28px;
  margin: 0px 0px;
  padding: 3px 0px;
  text-align: center;
}

#product-table  {
  margin: 0px 0px;
  padding: 10px 0px;
  width: 100%;
}

#product-table ul  {
  list-style: none;
  margin: 0px 0px;
  padding: 0px 0px;
  width: 100%;
}

#product-table ul li  {
  float: left;
}

#product-table .product-box {
  border: 1px solid #FAFBFB;
  display: block;
  height: 360px;
  margin: 0px 0px;
  padding: 15px 0px;
  text-align: center;
  width: 225px;

  .product-image-box  {
    .product-image  {
      height: 230px;
      width: 180px;
    }
  }

  .product-title-box  {
    color: #666;
  }
}

#product-table .product-box:hover {
  border: 1px solid #FAFBFB;
  box-shadow: 0px 0px 10px -2px #222;
}

.clear  {
  clear: both;
}
